google-cloud-storage
APScheduler
langchain
cohere
langchain_community
Chroma
chromadb
langchain_huggingface
langchain_chroma
pypdf
streamlit
sqlalchemy
psycopg2-binary
pandas
plotly
bcrypt
twilio
google-auth-oauthlib 
google-auth-httplib2 
google-api-python-client
google-auth-oauthlib
google.generativeai
SpeechRecognition
google-cloud-texttospeech
PyAudio